<div class="favorite-index-wrapper">
  <div class="favorite-index-container">
    <div class="row text-center">
      <div class="offset-md-1 col-md-11 favorite-post-title">
        お気に入り一覧
      </div>
    </div>
    <%= render partial: "shared/list", locals: { post: @favorite_posts } %>
    <div class="paginate">
      <%= paginate @favorite_posts %>
    </div>
  </div>
</div>
