<div class="wrapper maps-rapper">
  <div class="container maps-container">
    <div class="row">
      <div class="col-md-12">
        <div style='width: 100%;'>
          <div id="map" style='width: 100%; height: 600px;'></div>
        </div>

        <script type="text/javascript">
          <% @posts.each do |post| %>
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(10);
          });
          <% end %>
        </script>
      </div>
    </div>
  </div>
</div>
