<div class="maps-rapper">
  <div class="container maps-container">
    <h1 class="mb-5">マップから探す</h1>
    <div class="row">
      <div class="col-md-12">
        <div style='width: 100%;' class="pb-5">
          <div id="map" style='width: 100%; height: 600px;'></div>
        </div>

        <script type="text/javascript">
          <% @posts.each do |post| %>
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers([
            {
              "lat": <%= post.latitude %>,
              "lng": <%= post.longitude %>,
              "picture": {
                "width":  32,
                "height": 32
              },
              "infowindow": '<%= link_to post.name, post_path(post) %>'
            }
            ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(10);
          });
          <% end %>
        </script>
      </div>
    </div>
  </div>
</div>
