<div class="user-index-wrapper ">
  <div class="container user-index-container">
    <h1>All User</h1>
    <div class="row">
      <div class="col-md-10 user-index">
        <% @users.each do |user| %>
          <ul>
            <li>
              <%= image_tag user.image if user.image.attached? %>
              <%= link_to user.name, user %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
