<div class="user-index-wrapper ">
  <div class="container user-index-container">
    <h1>全てのユーザー</h1>
    <div class="row">
      <div class="col-md-10 user-index">
        <% @users.each do |user| %>
          <ul>
            <li class= "text-black">
              <% if user.image.attached? %>
                <%= image_tag user.image %>
              <% else %>
                <%= image_tag user.image_url %>
              <% end %>
              <%= link_to user.name, user %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="paginate">
      <%= paginate @users %>
    </div>
  </div>
</div>
