<div class="row user-post-row">
  <% post.each do |f| %>
    <div class="offset-md-1 col-md-3 user-post-item">
      <p><b><%= f.name %></b></p>
      <div class="user-post">
        <%= link_to post_path(f) do %>
          <%= image_tag f.image.url %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
