<div class="row user-post-row text-center">
  <% post.each do |f| %>
    <div class="col-md-6 user-post-item">
      <p><b><%= f.name %></b></p>
      <div class="mb-5 user-post">
        <%= link_to post_path(f) do %>
          <%= image_tag f.image.url %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
