<div class="wrapper text-center">
  <div class="container top-page-container">
    <h1 class="text-black">TUKEMEN</h1>
    <p class="text-black">美味しかったお店を投稿してシェアしよう！</p>
    <div class="row">
      <div class="offset-md-2 col-md-4">
        <%= link_to '新規登録', new_user_path, class: 'p-2 mt-4 btn btn-dark btn-block'%>
      </div>
      <div class="col-md-4">
        <%= link_to 'ログイン', login_path, class: 'p-2 mt-4 btn btn-dark btn-block' %>
      </div>
    </div>
    <div class="p-2 row">
      <div class="col-xs-6 offset-xs-3 col-md-12 top-image">
        <%= image_tag 'つけ麺.png' %>
      </div>
    </div>
  </div>
</div>
