<div class="wrapper text-center">
  <div class="container top-page-container">
    <h1 class="text-black">TUKEMEN</h1>
    <p class="text-black">TUKEMEN is only one your favorite tukemen</p>
    <div class="row">
      <div class="offset-md-2 col-md-4">
        <%= link_to 'Sign up', new_user_path, class: 'btn btn-primary btn-block'%>
      </div>
      <div class="col-md-4">
        <%= link_to 'Login', '#', class: 'btn  btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
