<div class="wrapper text-center">
  <div class="container top-page-container">
    <h1 class="text-black">TUKEMEN</h1>
    <p class="text-black">美味しかったお店を投稿してシェアしよう！</p>
    <div class="row">
      <div class="offset-md-2 col-md-4">
        <%= link_to '新規登録', new_user_path, class: 'btn btn-primary btn-block'%>
      </div>
      <div class="col-md-4">
        <%= link_to 'ログイン', login_path, class: 'btn  btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
